<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Desc</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.name %></td>
    <td><%= bookmark.rating %></td>
    <td><%= bookmark.desc %></td>
    <td><%= bookmark.image %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
