<div class="section">
    <ul>
            <li>
                <h1><span data-icon="<%= @bookmark[:public] %>" aria-hidden="true"></span>
                <%= link_to @bookmark[:title], bookmark_path(params[:id]) %></h1>
            </li>
            <li><%= link_to @bookmark[:url], @bookmark[:url] %></li>
            <li>
                <%= link_to @bookmark[:url] do %>
                    <%= image_tag @bookmark[:screenshot], :class => "screenshot" %>
                <% end %>
            </li>
            <li>
                <% (0..4).each do |i| %>
                    <% if (@bookmark[:rating].to_i-i) <= 0 %>
                        <%= image_tag "star_empty.gif" %>
                    <% elsif (@bookmark[:rating].to_i-i) >= 1 %>
                        <%= image_tag "star_full.gif" %>
                    <% else %>
                        <%= image_tag "star_half.gif" %>
                    <% end %>
                <% end %>
            </li>
            <li><p><%= @bookmark[:notes] %></p></li>
            <li>
                <% @bookmark[:tags].each do |t| %>
                    <%= t.join(", ") %>
                <% end %>
            </li>
    </ul>
    <%= link_to "Edit Bookmark", edit_bookmark_path(params[:id]) %>
    <%= link_to "Delete Bookmark", "bookmark#destroy", :method => "delete" %>
</div>
<%= link_to "New Bookmark", new_bookmark_path %>
