<div class="section">
    <%= form_for :user, form_options do |u| %>
        <% if @user.errors.any? %>
            <%= pluralize(@user.errors.size, "error") %>
            <ul>
                <% @user.errors.full_messages.each do |e| %>
                    <li><%= e %> </li>
                <% end %>
            </ul>
        <% end %>
        <%= u.label :username, "username" %>
        <%= u.text_field :username, :required => true %>
        <%= u.label :password, "password" %>
        <%= u.password_field :password, :required => true %>
        <%= u.label :password_confirmation, "password confirmation" %>
        <%= u.password_field :password_confirmation, :required => true %>
        <%= u.label :email, "email" %>
        <%= u.email_field :email, :required => true %>
        <%= u.label :f_name, "first name" %>
        <%= u.text_field :f_name, :required => true %>
        <%= u.label :l_name, "last name" %>
        <%= u.text_field :l_name, :required => true %>
        
        <%= submit_tag %>
    <% end %>
</div>
