<div class="section">
    <ul id="user_info">
        <li><h1>Welcome <%= @user[:username] %>!</h1></li>
        <li>Email: <%= @user[:email] %></li>
        <li>Name: <%= @user.f_name %> <%= @user.l_name %></li>
        <li><%= link_to "Edit User", edit_user_path(params[:id]) %></li>
    </ul>
</div>
<div class="section">   
    <h1>Bookmarks</h1>
    <ul id="bookmarks">
        <% @bookmarks.each do |b| %>
            <li>
                <%= link_to b.title, bookmark_url(b.id) %>
                <%= b.notes %>
                <% (0..4).each do |i| %>
                    <% if b.rating.to_f-i <= 0 %>
                        <%= image_tag "star_empty.gif" %>
                    <% elsif b.rating.to_f-i >= 1 %>
                        <%= image_tag "star_full.gif" %>
                    <% else %>
                        <%= image_tag "star_half.gif" %>
                    <% end %>
                <% end %>
                <%= link_to "Visit", b.url %>
                <%= link_to "Edit", edit_bookmark_path(b.id, :user_id => params[:id]) %>
                <%= link_to "Destroy", b, :method => :delete %>
            </li>
        <% end %>
        <%= link_to "Create Bookmark", new_bookmark_path(:user_id => params[:id]) %>
    </ul>
</div>
<%= link_to "Popular Bookmarks", :controller => :bookmarks, :action => :popular %> -
<%= link_to "Tags", tags_path %>
