<div class="section">
    <ul id="user_info">
        <li><%= @user[:username] %></li>
        <li><%= image_tag @user[:avatar] %></li>
        <li><%= @user[:email] %></li>
        <li><%= @user[:first_name] %> <%= @user[:last_name] %></li>
        <li><%= link_to "Edit User", edit_user_path(params[:id]) %></li>
        <li><%= link_to "Delete User", "user#destroy", :method => "delete" %></li>
    </ul>
</div>
<%= link_to "New User", new_user_path %>
